.el-container {
  height: 100%;
  .el-header {
    padding: 0;
  }
  .el-main {
    padding: 0;
  }
}
.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}

.drawer-bg {
  background: $backgroundColorMaskBg;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$sizeNavMenuWidth});
  transition: width 0.28s;
}

.hideSidebar .fixed-header {
  width: calc(100% - 3.375rem);
}

.mobile .fixed-header {
  width: 100%;
}
