.main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: $sizeNavMenuWidth;
  position: relative;
}

// 重置el-menu的样式
::v-deep {
  .el-submenu__title,
  .el-menu-item {
    &.is-active {
      color: $fontColorNavMenuActive;
    }
  }
}

.sidebar-container ::v-deep {
  transition: width 0.28s;
  width: $sizeNavMenuWidth !important;
  background-color: $backgroundColorNavMenu;
  height: 100%;
  position: fixed;
  font-size: 0rem;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  // reset element-ui css
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out,
      0s padding-right ease-in-out;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
    height: calc(100% - 3.125rem);
  }

  .el-scrollbar__bar.is-vertical {
    right: 0rem;
  }

  .el-scrollbar {
    height: 100%;
  }

  &.has-logo {
    .el-scrollbar {
      height: calc(100% - 3.125rem);
    }
  }

  .is-horizontal {
    display: none;
  }

  a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .svg-icon {
    margin-right: 1rem;
  }

  .sub-el-icon {
    margin-right: 0.75rem;
    margin-left: -0.125rem;
  }

  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
  }
  .is-active > .el-submenu__title {
    color: $fontColorNavMenuActive !important;
  }

  & .nest-menu .el-submenu > .el-submenu__title,
  & .el-submenu .el-menu-item {
    min-width: $sizeNavMenuWidth !important;
    background-color: $backgroundColorNavMenu !important;

    &:hover {
      background-color: $backgroundColorNavMenuHover !important;
    }
  }
}

.hideSidebar ::v-deep {
  .sidebar-container {
    width: 3.375rem !important;
  }

  .main-container {
    margin-left: 3.375rem;
  }

  .submenu-title-noDropdown {
    padding: 0 !important;
    position: relative;

    .el-tooltip {
      padding: 0 !important;

      .svg-icon {
        margin-left: 1.25rem;
      }

      .sub-el-icon {
        margin-left: 1.1875rem;
      }
    }
  }

  .el-submenu {
    overflow: hidden;

    & > .el-submenu__title {
      padding: 0 !important;

      .svg-icon {
        margin-left: 1.25rem;
      }

      .sub-el-icon {
        margin-left: 1.1875rem;
      }

      .el-submenu__icon-arrow {
        display: none;
      }
    }
  }

  .el-menu--collapse {
    .el-submenu {
      & > .el-submenu__title {
        & > span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }
  }
}

.el-menu--collapse .el-menu .el-submenu {
  min-width: $sizeNavMenuWidth !important;
}

// mobile responsive
.mobile {
  .main-container {
    margin-left: 0rem;
  }

  .sidebar-container {
    transition: transform 0.28s;
    width: $sizeNavMenuWidth !important;
  }

  &.hideSidebar {
    .sidebar-container {
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$sizeNavMenuWidth, 0, 0);
    }
  }
}

.withoutAnimation {
  .main-container,
  .sidebar-container {
    transition: none;
  }
}
