.errPage-container {
  width: 50rem;
  max-width: 100%;
  margin: 6.25rem auto;
  .pan-back-btn {
    background: #008489;
    color: #fff;
    border: none !important;
  }
  .pan-gif {
    margin: 0 auto;
    display: block;
  }
  .pan-img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .text-jumbo {
    font-size: 3.75rem;
    font-weight: 700;
    color: #484848;
  }
  .list-unstyled {
    font-size: 0.875rem;
    li {
      padding-bottom: 0.3125rem;
    }
    a {
      color: #008489;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
