/* theme color */
$--color-primary: $colorPrimary;
$--color-success: $colorSuccess;
$--color-warning: $colorWarning;
$--color-danger: $colorDanger;
$--color-info: $colorInfo;

$--menu-item-font-color: $fontColorNavMenu;
$--menu-background-color: $backgroundColorNavMenu;
$--menu-item-hover-fill: $backgroundColorNavMenuHover;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
